# Create sqlite3 database

In [4]:
import sqlite3
conn = sqlite3.connect('japan_data.db')
c = conn.cursor()

## Import data to df

In [5]:
import pandas as pd
url = "https://www.customs.go.jp/toukei/suii/html/data/d41ma.csv"
df = pd.read_csv(url, encoding = 'unicode_escape', header=2, parse_dates= True, index_col=0).dropna()
df = df[(df.T != 0).any()] #Drops rows of zero

## df$\rightarrow$ sql db

In [6]:
df.to_sql('Japan_data',
con = conn
)

## Search database

In [7]:
c.execute('''  
SELECT * FROM Japan_data
          ''')
for row in c.fetchall():
    print (row)

0', 2575860023.0, 1928914302.0)
('1988-06-01 00:00:00', 2761695856.0, 2016621821.0)
('1988-07-01 00:00:00', 3039379123.0, 2097989785.0)
('1988-08-01 00:00:00', 2775566970.0, 2113415332.0)
('1988-09-01 00:00:00', 3109455598.0, 2068934053.0)
('1988-10-01 00:00:00', 3094537899.0, 2088890851.0)
('1988-11-01 00:00:00', 2841871801.0, 2020461335.0)
('1988-12-01 00:00:00', 3202093963.0, 2011295296.0)
('1989-01-01 00:00:00', 2436919848.0, 2024444396.0)
('1989-02-01 00:00:00', 2875723988.0, 1946462225.0)
('1989-03-01 00:00:00', 3392125121.0, 2544696946.0)
('1989-04-01 00:00:00', 3067505097.0, 2104684284.0)
('1989-05-01 00:00:00', 2907578772.0, 2400801378.0)
('1989-06-01 00:00:00', 3246795217.0, 2491568117.0)
('1989-07-01 00:00:00', 3319946103.0, 2472457831.0)
('1989-08-01 00:00:00', 3061339138.0, 2589486276.0)
('1989-09-01 00:00:00', 3529216651.0, 2485380823.0)
('1989-10-01 00:00:00', 3286437743.0, 2618926165.0)
('1989-11-01 00:00:00', 3150898465.0, 2646520820.0)
('1989-12-01 00:00:00', 3548048483.0, 2653143320.0)
('1990-01-01 00:00:00', 2698920009.0, 2648894855.0)
('1990-02-01 00:00:00', 3189896457.0, 2468818441.0)
('1990-03-01 00:00:00', 3876411321.0, 2823489159.0)
('1990-04-01 00:00:00', 3444506468.0, 2887652595.0)
('1990-05-01 00:00:00', 3380060080.0, 2899544419.0)
('1990-06-01 00:00:00', 3624006217.0, 2604347613.0)
('1990-07-01 00:00:00', 3625666385.0, 2822566286.0)
('1990-08-01 00:00:00', 3339566914.0, 2830271046.0)
('1990-09-01 00:00:00', 3685930278.0, 2711024287.0)
('1990-10-01 00:00:00', 3572949481.0, 3142903612.0)
('1990-11-01 00:00:00', 3302264729.0, 3015229249.0)
('1990-12-01 00:00:00', 3716761335.0, 3000466076.0)
('1991-01-01 00:00:00', 2951341099.0, 2827441144.0)
('1991-02-01 00:00:00', 3270447564.0, 2608426257.0)
('1991-03-01 00:00:00', 3961490693.0, 2821264514.0)
('1991-04-01 00:00:00', 3315886709.0, 2449686339.0)
('1991-05-01 00:00:00', 3370218632.0, 2794954173.0)
('1991-06-01 00:00:00', 3538799084.0, 2529928197.0)
('1991-07-01 00:00:00', 3692837249.0, 2778148908.0)
('1991-08-01 00:00:00', 3397923866.0, 2616963288.0)
('1991-09-01 00:00:00', 3762273475.0, 2450567764.0)
('1991-10-01 00:00:00', 3748619780.0, 2799973754.0)
('1991-11-01 00:00:00', 3533219736.0, 2697824120.0)
('1991-12-01 00:00:00', 3816835087.0, 2524975064.0)
('1992-01-01 00:00:00', 3021436725.0, 2546349846.0)
('1992-02-01 00:00:00', 3529202937.0, 2248489560.0)
('1992-03-01 00:00:00', 3969328400.0, 2532558620.0)
('1992-04-01 00:00:00', 3627117687.0, 2679644816.0)
('1992-05-01 00:00:00', 3368799562.0, 2347768380.0)
('1992-06-01 00:00:00', 3599633739.0, 2456025147.0)
('1992-07-01 00:00:00', 3706451371.0, 2548003326.0)
('1992-08-01 00:00:00', 3318396801.0, 2429167268.0)
('1992-09-01 00:00:00', 3929782656.0, 2431192336.0)
('1992-10-01 00:00:00', 3760352345.0, 2447708909.0)
('1992-11-01 00:00:00', 3351736387.0, 2419442120.0)
('1992-12-01 00:00:00', 3830042834.0, 2441069032.0)
('1993-01-01 00:00:00', 3012474007.0, 2357365563.0)
('1993-02-01 00:00:00', 3461521719.0, 2157311473.0)
('1993-03-01 00:00:00', 4086569506.0, 2510348134.0)
('1993-04-01 00:00:00', 3528825964.0, 2349806884.0)
('1993-05-01 00:00:00', 2986793554.0, 2124148119.0)
('1993-06-01 00:00:00', 3288531601.0, 2224456750.0)
('1993-07-01 00:00:00', 3487536565.0, 2207051486.0)
('1993-08-01 00:00:00', 2930742070.0, 2147567439.0)
('1993-09-01 00:00:00', 3481724569.0, 2173181801.0)
('1993-10-01 00:00:00', 3319377470.0, 2161844659.0)
('1993-11-01 00:00:00', 3063491754.0, 2265071063.0)
('1993-12-01 00:00:00', 3554859946.0, 2148203868.0)
('1994-01-01 00:00:00', 2906853119.0, 2228338869.0)
('1994-02-01 00:00:00', 3224979018.0, 2041913309.0)
('1994-03-01 00:00:00', 3839527713.0, 2378333198.0)
('1994-04-01 00:00:00', 3438461872.0, 2280632270.0)
('1994-05-01 00:00:00', 2900692807.0, 2226359910.0)
('1994-06-01 00:00:00', 3516450964.0, 2334820673.0)
('1994-07-01 00:00:00', 3431702395.0, 2213499422.0)
('1994-08-01 00:00:00', 3117149441.0, 2512787936.0)
('1994-09-01 00:00:00', 3587752468.0, 2401458244.0)
('1994-10-01 00:00:00', 3427748093.0, 2512406524.0)
('1994-11-01 00:00:00', 3354563966.0, 2521965933.0)
('1994-12-01 00:00:00', 3751670841.0, 2451811055.0)
('1995-01-01 00:00:00', 2718873316.0, 2443974354.0)
('1995-02-01 00:00:00', 3494689171.0, 2373411995.0)
('1995-03-01 00:00:00', 4010591913.0, 2715686031.0)
('1995-04-01 00:00:00', 3467655124.0, 2538872628.0)
('1995-05-01 00:00:00', 2981503555.0, 2394514680.0)
('1995-06-01 00:00:00', 3413587882.0, 2424017789.0)
('1995-07-01 00:00:00', 3257376723.0, 2448986996.0)
('1995-08-01 00:00:00', 3194975552.0, 2659839489.0)
('1995-09-01 00:00:00', 3817619284.0, 2699229046.0)
('1995-10-01 00:00:00', 3560529834.0, 3020078500.0)
('1995-11-01 00:00:00', 3604797728.0, 2931170209.0)
('1995-12-01 00:00:00', 4008695039.0, 2898972164.0)
('1996-01-01 00:00:00', 3027419286.0, 2964494500.0)
('1996-02-01 00:00:00', 3624731544.0, 2979873662.0)
('1996-03-01 00:00:00', 4110540460.0, 2992906469.0)
('1996-04-01 00:00:00', 3644667863.0, 3329344233.0)
('1996-05-01 00:00:00', 3405943420.0, 3176845485.0)
('1996-06-01 00:00:00', 3662995373.0, 2931366058.0)
('1996-07-01 00:00:00', 3826022690.0, 3325555642.0)
('1996-08-01 00:00:00', 3454298031.0, 3106848451.0)
('1996-09-01 00:00:00', 3874539603.0, 3097268158.0)
('1996-10-01 00:00:00', 3962383286.0, 3500241833.0)
('1996-11-01 00:00:00', 3968525041.0, 3298353186.0)
('1996-12-01 00:00:00', 4169244609.0, 3290323429.0)
('1997-01-01 00:00:00', 3541320217.0, 3565800750.0)
('1997-02-01 00:00:00', 3990395939.0, 3309676030.0)
('1997-03-01 00:00:00', 4540249607.0, 3740037814.0)
('1997-04-01 00:00:00', 4426958490.0, 3619788314.0)
('1997-05-01 00:00:00', 4102664493.0, 3370685627.0)
('1997-06-01 00:00:00', 4119575002.0, 3160161585.0)
('1997-07-01 00:00:00', 4281189565.0, 3442090633.0)
('1997-08-01 00:00:00', 3936129775.0, 3217064124.0)
('1997-09-01 00:00:00', 4423516871.0, 3359985804.0)
('1997-10-01 00:00:00', 4645993381.0, 3540083612.0)
('1997-11-01 00:00:00', 4224847644.0, 3162284761.0)
('1997-12-01 00:00:00', 4705150875.0, 3468523519.0)
('1998-01-01 00:00:00', 3859903993.0, 3453338979.0)
('1998-02-01 00:00:00', 4094048440.0, 2816798387.0)
('1998-03-01 00:00:00', 4591211719.0, 3350661726.0)
('1998-04-01 00:00:00', 4346653587.0, 3124009126.0)
('1998-05-01 00:00:00', 4042302154.0, 2824213082.0)
('1998-06-01 00:00:00', 4346411506.0, 3132921136.0)
('1998-07-01 00:00:00', 4561303764.0, 3251096504.0)
('1998-08-01 00:00:00', 4014009880.0, 3123044847.0)
('1998-09-01 00:00:00', 4596562432.0, 3054992321.0)
('1998-10-01 00:00:00', 4381385777.0, 3015404845.0)
('1998-11-01 00:00:00', 3679159642.0, 2788936281.0)
('1998-12-01 00:00:00', 4132051044.0, 2718229949.0)
('1999-01-01 00:00:00', 3450558739.0, 2696581738.0)
('1999-02-01 00:00:00', 3593228534.0, 2662082497.0)
('1999-03-01 00:00:00', 4305720229.0, 3002238643.0)
('1999-04-01 00:00:00', 4023570532.0, 2986604714.0)
('1999-05-01 00:00:00', 3561098110.0, 2741014122.0)
('1999-06-01 00:00:00', 4086833418.0, 2924476179.0)
('1999-07-01 00:00:00', 4219760216.0, 2977241777.0)
('1999-08-01 00:00:00', 3736971556.0, 3039850528.0)
('1999-09-01 00:00:00', 4270431731.0, 2895532232.0)
('1999-10-01 00:00:00', 4132708510.0, 2963671008.0)
('1999-11-01 00:00:00', 3889473734.0, 3226216496.0)
('1999-12-01 00:00:00', 4277200932.0, 3152498129.0)
('2000-01-01 00:00:00', 3512721254.0, 2992192350.0)
('2000-02-01 00:00:00', 4136816214.0, 2957534578.0)
('2000-03-01 00:00:00', 4700061682.0, 3594783576.0)
('2000-04-01 00:00:00', 4377801174.0, 3236988257.0)
('2000-05-01 00:00:00', 3851459857.0, 3276435493.0)
('2000-06-01 00:00:00', 4487227124.0, 3294590458.0)
('2000-07-01 00:00:00', 4313204396.0, 3312744506.0)
('2000-08-01 00:00:00', 4204857926.0, 3598579064.0)
('2000-09-01 00:00:00', 4679180275.0, 3386040037.0)
('2000-10-01 00:00:00', 4476240990.0, 3787235915.0)
('2000-11-01 00:00:00', 4283071028.0, 3687485623.0)
('2000-12-01 00:00:00', 4631555840.0, 3813813111.0)
('2001-01-01 00:00:00', 3623926991.0, 3722447077.0)
('2001-02-01 00:00:00', 4197397479.0, 3321682161.0)
('2001-03-01 00:00:00', 4919317571.0, 4011328312.0)
('2001-04-01 00:00:00', 4329641863.0, 3668723105.0)
('2001-05-01 00:00:00', 3815616144.0, 3739635172.0)
('2001-06-01 00:00:00', 4138701218.0, 3379705890.0)
('2001-07-01 00:00:00', 4037119145.0, 3619999731.0)
('2001-08-01 00:00:00', 3829973960.0, 3520153767.0)
('2001-09-01 00:00:00', 4162910770.0, 3119888096.0)
('2001-10-01 00:00:00', 4073627215.0, 3612558913.0)
('2001-11-01 00:00:00', 3889579298.0, 3397419893.0)
('2001-12-01 00:00:00', 3961432657.0, 3301990885.0)
('2002-01-01 00:00:00', 3559469049.0, 3389439054.0)
('2002-02-01 00:00:00', 4021653229.0, 3244348010.0)
('2002-03-01 00:00:00', 4773067920.0, 3515208354.0)
('2002-04-01 00:00:00', 4400810114.0, 3573629714.0)
('2002-05-01 00:00:00', 4152221300.0, 3535013417.0)
('2002-06-01 00:00:00', 4430440263.0, 3209513349.0)
('2002-07-01 00:00:00', 4396515316.0, 3651637631.0)
('2002-08-01 00:00:00', 4068125399.0, 3428898494.0)
('2002-09-01 00:00:00', 4449754036.0, 3398715832.0)
('2002-10-01 00:00:00', 4649559510.0, 3757629587.0)
('2002-11-01 00:00:00', 4639711272.0, 3750093576.0)
('2002-12-01 00:00:00', 4567628327.0, 3773378927.0)
('2003-01-01 00:00:00', 3841450944.0, 3745323180.0)
('2003-02-01 00:00:00', 4324756091.0, 3397573362.0)
('2003-03-01 00:00:00', 4806134773.0, 3845694609.0)
('2003-04-01 00:00:00', 4608993190.0, 3780476829.0)
('2003-05-01 00:00:00', 4301341249.0, 3612061805.0)
('2003-06-01 00:00:00', 4428450197.0, 3590678652.0)
('2003-07-01 00:00:00', 4643177851.0, 3854003867.0)
('2003-08-01 00:00:00', 4329863776.0, 3551402162.0)
('2003-09-01 00:00:00', 4858550901.0, 3760791874.0)
('2003-10-01 00:00:00', 4900483442.0, 3830868789.0)
('2003-11-01 00:00:00', 4547423083.0, 3557493736.0)
('2003-12-01 00:00:00', 4957724675.0, 3835654487.0)
('2004-01-01 00:00:00', 4274217072.0, 3785937084.0)
('2004-02-01 00:00:00', 4767653991.0, 3371976820.0)
('2004-03-01 00:00:00', 5442413651.0, 4323834658.0)
('2004-04-01 00:00:00', 5106308596.0, 4031562860.0)
('2004-05-01 00:00:00', 4729667988.0, 3793552714.0)
('2004-06-01 00:00:00', 5289194812.0, 4148621116.0)
('2004-07-01 00:00:00', 5307465560.0, 4178830575.0)
('2004-08-01 00:00:00', 4785482153.0, 4212543255.0)
('2004-09-01 00:00:00', 5445803712.0, 4232570452.0)
('2004-10-01 00:00:00', 5472011536.0, 4317953930.0)
('2004-11-01 00:00:00', 5155195150.0, 4557901734.0)
('2004-12-01 00:00:00', 5394564873.0, 4261351148.0)
('2005-01-01 00:00:00', 4411409724.0, 4223237785.0)
('2005-02-01 00:00:00', 4846300703.0, 3762243525.0)
('2005-03-01 00:00:00', 5776009924.0, 4665412271.0)
('2005-04-01 00:00:00', 5504325510.0, 4556789013.0)
('2005-05-01 00:00:00', 4795218354.0, 4510471065.0)
('2005-06-01 00:00:00', 5478184130.0, 4619861311.0)
('2005-07-01 00:00:00', 5536780403.0, 4674822852.0)
('2005-08-01 00:00:00', 5219992808.0, 5117418084.0)
('2005-09-01 00:00:00', 5927109293.0, 4978514768.0)
('2005-10-01 00:00:00', 5910577029.0, 5092710633.0)
('2005-11-01 00:00:00', 5913569829.0, 5319153065.0)
('2005-12-01 00:00:00', 6337066450.0, 5428757809.0)
('2006-01-01 00:00:00', 5003670510.0, 5398061522.0)
('2006-02-01 00:00:00', 5849493549.0, 4939724360.0)
('2006-03-01 00:00:00', 6814169239.0, 5875007216.0)
('2006-04-01 00:00:00', 6128869787.0, 5518229259.0)
('2006-05-01 00:00:00', 5703411640.0, 5347092349.0)
('2006-06-01 00:00:00', 6270737656.0, 5470998164.0)
('2006-07-01 00:00:00', 6320652373.0, 5469541956.0)
('2006-08-01 00:00:00', 6140483896.0, 5948717914.0)
('2006-09-01 00:00:00', 6828440999.0, 5821682055.0)
('2006-10-01 00:00:00', 6597470698.0, 5984091333.0)
('2006-11-01 00:00:00', 6629634482.0, 5721671318.0)
('2006-12-01 00:00:00', 6959138563.0, 5849475626.0)
('2007-01-01 00:00:00', 5952671779.0, 5950876333.0)
('2007-02-01 00:00:00', 6416106967.0, 5454625525.0)
('2007-03-01 00:00:00', 7512966598.0, 5910344170.0)
('2007-04-01 00:00:00', 6633504327.0, 5730446967.0)
('2007-05-01 00:00:00', 6567848343.0, 6172301857.0)
('2007-06-01 00:00:00', 7286038674.0, 6040084531.0)
('2007-07-01 00:00:00', 7063106295.0, 6381147551.0)
('2007-08-01 00:00:00', 7034674469.0, 6291025502.0)
('2007-09-01 00:00:00', 7255475808.0, 5646800569.0)
('2007-10-01 00:00:00', 7506492548.0, 6507053382.0)
('2007-11-01 00:00:00', 7268584026.0, 6484190687.0)
('2007-12-01 00:00:00', 7433967778.0, 6567023353.0)
('2008-01-01 00:00:00', 6408322709.0, 6514634706.0)
('2008-02-01 00:00:00', 6973674679.0, 6037854109.0)
('2008-03-01 00:00:00', 7681691634.0, 6585510054.0)
('2008-04-01 00:00:00', 6889454205.0, 6430726617.0)
('2008-05-01 00:00:00', 6806770184.0, 6465660628.0)
('2008-06-01 00:00:00', 7152136890.0, 7048036399.0)
('2008-07-01 00:00:00', 7624498933.0, 7542581725.0)
('2008-08-01 00:00:00', 7051439164.0, 7365671561.0)
('2008-09-01 00:00:00', 7361301985.0, 7270331565.0)
('2008-10-01 00:00:00', 6914810591.0, 6990024853.0)
('2008-11-01 00:00:00', 5323503329.0, 5551007837.0)
('2008-12-01 00:00:00', 4830483304.0, 5152709872.0)
('2009-01-01 00:00:00', 3477825156.0, 4445761560.0)
('2009-02-01 00:00:00', 3529575459.0, 3458727747.0)
('2009-03-01 00:00:00', 4183794290.0, 4189201290.0)
('2009-04-01 00:00:00', 4194707904.0, 4145719899.0)
('2009-05-01 00:00:00', 4019951604.0, 3738560178.0)
('2009-06-01 00:00:00', 4594409653.0, 4107418232.0)
('2009-07-01 00:00:00', 4843000548.0, 4477332505.0)
('2009-08-01 00:00:00', 4509804115.0, 4344586189.0)
('2009-09-01 00:00:00', 5109385524.0, 4591756385.0)
('2009-10-01 00:00:00', 5308318725.0, 4508259352.0)
('2009-11-01 00:00:00', 4988162904.0, 4622905877.0)
('2009-12-01 00:00:00', 5411678206.0, 4869148565.0)
('2010-01-01 00:00:00', 4900888348.0, 4857806000.0)
('2010-02-01 00:00:00', 5127147354.0, 4488869743.0)
('2010-03-01 00:00:00', 6000424097.0, 5068488946.0)
('2010-04-01 00:00:00', 5889744011.0, 5160502871.0)
('2010-05-01 00:00:00', 5308604342.0, 4999477334.0)
('2010-06-01 00:00:00', 5867219926.0, 5196697325.0)
('2010-07-01 00:00:00', 5981905101.0, 5197294412.0)
('2010-08-01 00:00:00', 5209756988.0, 5146004474.0)
('2010-09-01 00:00:00', 5839634979.0, 5065320646.0)
('2010-10-01 00:00:00', 5722496396.0, 4909868795.0)
('2010-11-01 00:00:00', 5439804284.0, 5282183737.0)
('2010-12-01 00:00:00', 6112000870.0, 5392442557.0)
('2011-01-01 00:00:00', 4970132453.0, 5467290509.0)
('2011-02-01 00:00:00', 5589021184.0, 4952034123.0)
('2011-03-01 00:00:00', 5858517149.0, 5687586976.0)
('2011-04-01 00:00:00', 5156647982.0, 5634385487.0)
('2011-05-01 00:00:00', 4759297307.0, 5619981014.0)
('2011-06-01 00:00:00', 5774613169.0, 5710161489.0)
('2011-07-01 00:00:00', 5781762864.0, 5712022895.0)
('2011-08-01 00:00:00', 5355680930.0, 6133136275.0)
('2011-09-01 00:00:00', 5973818770.0, 5685046014.0)
('2011-10-01 00:00:00', 5506927685.0, 5789941379.0)
('2011-11-01 00:00:00', 5196173431.0, 5887410169.0)
('2011-12-01 00:00:00', 5623882024.0, 5832190848.0)
('2012-01-01 00:00:00', 4513664053.0, 6004339387.0)
('2012-02-01 00:00:00', 5442624486.0, 5416730067.0)
('2012-03-01 00:00:00', 6203393875.0, 6285229378.0)
('2012-04-01 00:00:00', 5564898273.0, 6083326364.0)
('2012-05-01 00:00:00', 5236857826.0, 6144789157.0)
('2012-06-01 00:00:00', 5641846688.0, 5585766131.0)
('2012-07-01 00:00:00', 5312210774.0, 5840761453.0)
('2012-08-01 00:00:00', 5044405366.0, 5812840641.0)
('2012-09-01 00:00:00', 5357933278.0, 5926127300.0)
('2012-10-01 00:00:00', 5148010964.0, 5704206359.0)
('2012-11-01 00:00:00', 4983179710.0, 5940220307.0)
('2012-12-01 00:00:00', 5298546922.0, 5944295296.0)
('2013-01-01 00:00:00', 4798572969.0, 6431690300.0)
('2013-02-01 00:00:00', 5283269206.0, 6056595376.0)
('2013-03-01 00:00:00', 6270249121.0, 6627146258.0)
('2013-04-01 00:00:00', 5775769697.0, 6653135490.0)
('2013-05-01 00:00:00', 5765204286.0, 6756525758.0)
('2013-06-01 00:00:00', 6058610664.0, 6239138183.0)
('2013-07-01 00:00:00', 5958497443.0, 6990953628.0)
('2013-08-01 00:00:00', 5782109839.0, 6753518084.0)
('2013-09-01 00:00:00', 5970950368.0, 6914199468.0)
('2013-10-01 00:00:00', 6102969356.0, 7203395761.0)
('2013-11-01 00:00:00', 5898811957.0, 7199902106.0)
('2013-12-01 00:00:00', 6109178044.0, 7416344759.0)
('2014-01-01 00:00:00', 5251917032.0, 8047032407.0)
('2014-02-01 00:00:00', 5799170057.0, 6605298925.0)
('2014-03-01 00:00:00', 6383275508.0, 7833411545.0)
('2014-04-01 00:00:00', 6067182159.0, 6892709161.0)
('2014-05-01 00:00:00', 5606008757.0, 6523232141.0)
('2014-06-01 00:00:00', 5940015772.0, 6774072891.0)
('2014-07-01 00:00:00', 6191917647.0, 7158457838.0)
('2014-08-01 00:00:00', 5704817472.0, 6658032030.0)
('2014-09-01 00:00:00', 6382087103.0, 7344068242.0)
('2014-10-01 00:00:00', 6687313504.0, 7429072288.0)
('2014-11-01 00:00:00', 6187518807.0, 7086339814.0)
('2014-12-01 00:00:00', 6891804493.0, 7557385451.0)
('2015-01-01 00:00:00', 6140891682.0, 7301351693.0)
('2015-02-01 00:00:00', 5940749046.0, 6366783655.0)
('2015-03-01 00:00:00', 6926741388.0, 6703279125.0)
('2015-04-01 00:00:00', 6548769906.0, 6607111017.0)
('2015-05-01 00:00:00', 5737870695.0, 5953220724.0)
('2015-06-01 00:00:00', 6504696538.0, 6565599276.0)
('2015-07-01 00:00:00', 6662871116.0, 6924262173.0)
('2015-08-01 00:00:00', 5880185443.0, 6447725756.0)
('2015-09-01 00:00:00', 6413303277.0, 6534588011.0)
('2015-10-01 00:00:00', 6541289708.0, 6436503596.0)
('2015-11-01 00:00:00', 5978713942.0, 6366212005.0)
('2015-12-01 00:00:00', 6337846121.0, 6198898762.0)
('2016-01-01 00:00:00', 5350536491.0, 6007540986.0)
('2016-02-01 00:00:00', 5702255866.0, 5466799066.0)
('2016-03-01 00:00:00', 6456793157.0, 5711906613.0)
('2016-04-01 00:00:00', 5889551488.0, 5078292155.0)
('2016-05-01 00:00:00', 5091944315.0, 5139283453.0)
('2016-06-01 00:00:00', 6025343551.0, 5338872520.0)
('2016-07-01 00:00:00', 5728432781.0, 5223907982.0)
('2016-08-01 00:00:00', 5316393212.0, 5351016726.0)
('2016-09-01 00:00:00', 5968949205.0, 5482362445.0)
('2016-10-01 00:00:00', 5870245657.0, 5389091497.0)
('2016-11-01 00:00:00', 5956403435.0, 5809884502.0)
('2016-12-01 00:00:00', 6678921225.0, 6043015940.0)
('2017-01-01 00:00:00', 5420942231.0, 6525955196.0)
('2017-02-01 00:00:00', 6347122559.0, 5542596765.0)
('2017-03-01 00:00:00', 7227998277.0, 6624525130.0)
('2017-04-01 00:00:00', 6330189902.0, 5851936101.0)
('2017-05-01 00:00:00', 5851616236.0, 6056015370.0)
('2017-06-01 00:00:00', 6607970983.0, 6174724923.0)
('2017-07-01 00:00:00', 6494640256.0, 6088017434.0)
('2017-08-01 00:00:00', 6278485972.0, 6181724203.0)
('2017-09-01 00:00:00', 6810697106.0, 6156869043.0)
('2017-10-01 00:00:00', 6692904349.0, 6414349975.0)
('2017-11-01 00:00:00', 6920011796.0, 6814819280.0)
('2017-12-01 00:00:00', 7303877381.0, 6947697687.0)
('2018-01-01 00:00:00', 6085961928.0, 7049774500.0)
('2018-02-01 00:00:00', 6462796270.0, 6476651298.0)
('2018-03-01 00:00:00', 7382097114.0, 6597896496.0)
('2018-04-01 00:00:00', 6822277991.0, 6201319041.0)
('2018-05-01 00:00:00', 6326873106.0, 6904236053.0)
('2018-06-01 00:00:00', 7053834838.0, 6326051061.0)
('2018-07-01 00:00:00', 6747929534.0, 6975313401.0)
('2018-08-01 00:00:00', 6687800164.0, 7135886370.0)
('2018-09-01 00:00:00', 6716828606.0, 6592719966.0)
('2018-10-01 00:00:00', 7243462777.0, 7699726891.0)
('2018-11-01 00:00:00', 6927096583.0, 7666199894.0)
('2018-12-01 00:00:00', 7021793763.0, 7077529424.0)
('2019-01-01 00:00:00', 5574422796.0, 6998477150.0)
('2019-02-01 00:00:00', 6385419289.0, 6056654309.0)
('2019-03-01 00:00:00', 7202147128.0, 6684855302.0)
('2019-04-01 00:00:00', 6664294468.0, 6605306456.0)
('2019-05-01 00:00:00', 5837841427.0, 6803248902.0)
('2019-06-01 00:00:00', 6585086798.0, 5996977351.0)
('2019-07-01 00:00:00', 6643459913.0, 6897340870.0)
('2019-08-01 00:00:00', 6138719941.0, 6290930402.0)
('2019-09-01 00:00:00', 6368995881.0, 6498069405.0)
('2019-10-01 00:00:00', 6576171779.0, 6565009115.0)
('2019-11-01 00:00:00', 6379008038.0, 6467394442.0)
('2019-12-01 00:00:00', 6576097457.0, 6735246247.0)
('2020-01-01 00:00:00', 5431201880.0, 6746313131.0)
('2020-02-01 00:00:00', 6321285269.0, 5214703354.0)
('2020-03-01 00:00:00', 6358054311.0, 6350850809.0)
('2020-04-01 00:00:00', 5206029572.0, 6137193914.0)
('2020-05-01 00:00:00', 4185621928.0, 5023840386.0)

## sql $\rightarrow$ df

In [8]:
pd.read_sql("select * from Japan_data", conn)

            Years/Months     Exp-Total     Imp-Total
0    1979-01-01 00:00:00  1.192541e+09  1.476341e+09
1    1979-02-01 00:00:00  1.547064e+09  1.474769e+09
2    1979-03-01 00:00:00  1.924706e+09  1.729013e+09
3    1979-04-01 00:00:00  1.674211e+09  1.754000e+09
4    1979-05-01 00:00:00  1.795128e+09  1.971518e+09
..                   ...           ...           ...
492  2020-01-01 00:00:00  5.431202e+09  6.746313e+09
493  2020-02-01 00:00:00  6.321285e+09  5.214703e+09
494  2020-03-01 00:00:00  6.358054e+09  6.350851e+09
495  2020-04-01 00:00:00  5.206030e+09  6.137194e+09
496  2020-05-01 00:00:00  4.185622e+09  5.023840e+09

[497 rows x 3 columns]