# [SQlalchemy basics](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.to_sql.html)

In [5]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite://', echo=False)

In [2]:
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
df

     name
0  User 1
1  User 2
2  User 3

In [3]:
df.to_sql(
    'users', #name of SQL table
    con=engine #Sql database name
)

In [4]:
engine.execute("SELECT * FROM users").fetchall()

[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]